<link rel="stylesheet" href="../../assets/css/normalize.css">
<link rel="stylesheet" href="../../assets/css/demo.css">
<link rel="stylesheet" href="../../assets/css/set2.css">

<div class="container signin">  
<h1 class="my-margin my-text" style="text-align:center">Signin</h1>
<form action="" method="POST" [formGroup]="signIn" (ngSubmit)="login(signIn.value)">
<section class="content">
    <span class="input input--shoko">
      <input name="email" formControlName="email" class="input__field input__field--shoko animated_input" type="text" id="input-4" />
      <label class="input__label input__label--shoko" for="input-4">
        <span class="input__label-content input__label-content--shoko">Email</span>
      </label>
      <svg class="graphic graphic--shoko" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
        <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
        <path d="M0,2.5c0,0,298.666,0,399.333,0C448.336,2.5,513.994,13,597,13c77.327,0,135-10.5,200.999-10.5c95.996,0,402.001,0,402.001,0"/>
      </svg>
    </span>
    <span class="input input--shoko">
      <input name="password" formControlName="password" class="input__field input__field--shoko animated_input" type="password" id="input-5" />
      <label class="input__label input__label--shoko" for="input-5">
        <span class="input__label-content input__label-content--shoko">Password</span>
      </label>
      <svg class="graphic graphic--shoko" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
        <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
        <path d="M0,2.5c0,0,298.666,0,399.333,0C448.336,2.5,513.994,13,597,13c77.327,0,135-10.5,200.999-10.5c95.996,0,402.001,0,402.001,0"/>
      </svg>
    </span>
  </section>
  <div class="button-wrapper">
      <button class="button1" type="submit" name="button1" value="Register" [disabled]="!signIn.dirty"> Signin</button>
      </div>
    </form>
  </div>
