<h1 class="my-class" style="text-align: center;margin-top:40px;">Trending Shoes</h1>
<hr>
<!-- <div class="col-md-12"> -->
  <div class="row" *ngIf="trendingProducts.length > 0; else nothingFound">
      <div class="col-md-3 product" *ngFor = "let trendingProduct of trendingProducts" >
          <img src="{{ trendingProduct.imagePath }}" class="blink"  style="border-radius: 20%" height="225" width="225">
          <h4 class="my-class" style="text-align:center;">{{ trendingProduct.name }}</h4>
          <div class="d-flex justify-content-center">
              <button (click)= "grabItem(trendingProduct.id)" class="btn btn-danger" type="submit">Grab It</button>
          </div>
      </div>
  </div>
  <ng-template #nothingFound>
    <p>Data not found</p>
  </ng-template>