.my-class {
    color: white
}
.product {
    margin-top:80px;
}
.zoom {
    transition: transform .2s; /* Animation */
  }
  
  .zoom:hover {
    transform: scale(0.9); 
    visibility:visible;
    opacity: 0.3;
  }

  #wrapper .text {
    color:white;
    position:relative;
    bottom:120px;
    left:80px;
    visibility:hidden;
    font-family: cursive;
    font-size: 16px;
    font-weight: bold;
    }
    
    #wrapper:hover .text {
    visibility:visible;
    }